__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

*:Zone.Identifier
*.docx

datasets/
results/
outputs/
lightning_logs/
wandb/

*.ckpt
*.npz
*.npy
*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
